.screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    position: absolute;
    left: 20px;
    top: 20px;
    background: #ffffff;
    padding: 10px 15px;
    width: auto;
    height: auto;
    z-index: 9999;
  }
}
