.main-header__logo {
  display: block;
  text-align: center;
  height: 4.5rem;

  a {
    color: $header-logo-color;
    font-family: $serif;
    // font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    // line-height: 3;
    text-decoration: none;
    position: relative;
    top: 1.5rem;

    &.custom-logo-link {
      top: 10px;
    }

    img {
      margin: 0;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    border-bottom: 1px solid #efefef;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    margin-left: 10px;
  }
}
